header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em;
    background-color: #231F24;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    z-index: 4;

    .left,
    .right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

}

h1 {
    font-size: 1.6em;
    font-weight: 500;
}

.logo {
    width: 2.5em;
}

.notificacao {
    width: 2em;
}

.profile {
    width: 3em;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #1c1c1c;
    color: #fff;
    min-height: 100vh;
    padding-top: 20px;
    overflow-y: auto;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
    transition: width .3s ease;
    position: fixed;
    /* Fixa o sidebar */
    top: 60px;
    /* Fixa no topo */
    left: 0;
    overflow-y: auto;
    z-index: 2;
    /* Permite rolar o sidebar caso ultrapasse a altura da tela */
}

/* Efeito hover */
.sidebar nav ul li a:hover {
    background-color: #a657ca55;
}

/* Estilo para o item ativo, simulando o efeito hover */
.sidebar nav ul li a.ativo {
    background-color: #a72be0;
    /* Cor do item ativo, mesma do hover */
}

.sidebar.retracted {
    width: 70px;
    /* Largura quando retraída */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 4px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #6912ec;
}

.sidebar nav ul li a span {
    white-space: nowrap;
}

.sidebar.retracted nav ul li a span {
    display: none;
}

.sidebar.retracted nav ul li a {
    justify-content: center;
}

#toggleButton {
    display: flex;
    background-color: #6912ec2d;
    border: none;
    color: white;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 2.5em;
    margin-left: 240px;
    margin-top: 100px;
    transition: .5s;

}

.container.retracted {
    margin-left: 100px;
}

.container_left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
}

/* Próximos eventos */
.proximos_eventos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .proximos_eventos_container {
        display: flex;
        gap: 30px;

        .proximo_evento {
            display: flex;
            align-items: center;

            .data {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px;
                width: 50px;
                border-radius: 5px;
                background-color: #6912ec;

                .nome {
                    font-size: .8em;
                    margin-top: -5px;
                }
            }

            .descricao_evento {
                background-color: #834dd46c;
                padding: .2em 2em;
                padding-left: .5em;
                border-radius: 0 5px 5px 0;

                .horario {
                    margin-top: -5px;
                    font-size: .9em;
                    color: rgba(255, 255, 255, 0.669);
                }
            }
        }
    }
}




/* Tracker semanal*/
.tracker_semanal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .tracker_semanal_container {
        display: flex;
        gap: 30px;

        .horas_estudo,
        .em_andamento,
        .projetos {
            background-color: #6d6d6f53;
            display: flex;
            padding: 1em;
            gap: 20px;
            border-radius: 10px;

            .descricao {
                .quantidade {
                    font-size: 2em;
                }
            }

            img {
                width: 2.5em;
            }
        }
    }
}

/* Lista de tarefas */
.lista_tarefas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(46, 30, 46, 0.661);
    padding: 1em;
    border-radius: 10px;

    .lista_tarefas_container {
        display: flex;
        gap: 20px;

        .lista_tarefas_collun {
            display: flex;
            flex-direction: column;
            background-color: #452d6871;
            border-radius: 10px;
            padding: 1em;
            gap: 2em;
            height: max-content;

            .barra_superior {
                display: flex;
                width: 100%;
                justify-content: space-between;

            }

            .to_do_itens,
            .doing_itens,
            .done_itens {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .to_do_item,
                .doing_item,
                .done_item {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background-color: #481791;
                    padding: 1em;
                    border-radius: 10px;


                    .tempo {
                        display: flex;
                        gap: 10px;
                        color: rgba(255, 255, 255, 0.645);
                    }
                }
            }

            .barra_inferior {
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        text-decoration: none;
                        color: gray;
                    }
                }

            }

        }
    }
}