header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em;
    background-color: #231F24;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    z-index: 4;

    .left,
    .right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .left {
        h1 {
            font-size: 1.6em;
            font-weight: 500;
        }

    }

    .right {
        .notificacao {
            width: 2em;
        }

        .profile {
            width: 3em;
        }
    }

}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #1c1c1c;
    color: #fff;
    min-height: 100vh;
    padding-top: 20px;
    overflow-y: auto;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
    transition: width .3s ease;
    position: fixed;

    /* Fixa o sidebar */
    top: 60px;
    left: 0;
    overflow-y: auto;
    z-index: 2;


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            margin: 10px 0;
            display: flex;
            align-items: center;
            width: 100%;

            a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                margin: 0 0.5em;
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                border-radius: 4px;
                transition: background 0.3s;

                &:hover {
                    background-color: #a657ca55;
                }

                &.ativo {
                    background-color: #a72be0;
                }

                span {
                    white-space: nowrap;
                }
            }
        }
    }

}

.sidebar.retracted {
    width: 70px;

    nav ul li a {
        justify-content: center;

        span {
            display: none;
        }
    }
}

#toggleButton {
    display: flex;
    background-color: #6912ec2d;
    border: none;
    color: white;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: flex;
    margin: 2.5em;
    margin-left: 240px;
    margin-top: 100px;
    transition: .5s;
    gap: 2em;

    .container_left {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 80%;

        /* Próximos eventos */
        .proximos_eventos {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .proximos_eventos_container {
                display: flex;
                gap: 30px;

                .proximo_evento {
                    display: flex;
                    align-items: center;

                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        width: 50px;
                        border-radius: 5px;
                        background-color: #6912ec;

                        .nome {
                            font-size: .8em;
                            margin-top: -5px;
                        }
                    }

                    .descricao_evento {
                        background-color: #834dd46c;
                        padding: .2em 2em;
                        padding-left: .5em;
                        border-radius: 0 5px 5px 0;
                        white-space: nowrap;

                        .horario {
                            margin-top: -5px;
                            font-size: .9em;
                            color: rgba(255, 255, 255, 0.669);
                        }
                    }
                }
            }
        }

        /* Tracker semanal*/
        .tracker_semanal {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .tracker_semanal_container {
                display: flex;
                gap: 30px;

                .horas_estudo,
                .em_andamento,
                .projetos {
                    background-color: #6d6d6f53;
                    display: flex;
                    padding: 1em;
                    gap: 20px;
                    border-radius: 10px;

                    .descricao {
                        .quantidade {
                            font-size: 2em;
                        }
                    }

                    img {
                        width: 2.5em;
                    }
                }
            }
        }

        /* Lista de tarefas */
        .lista_tarefas {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: rgba(46, 30, 46, 0.661);
            padding: 1em;
            border-radius: 10px;

            .lista_tarefas_container {
                display: flex;
                gap: 20px;

                .lista_tarefas_collun {
                    display: flex;
                    flex-direction: column;
                    background-color: #452d6871;
                    border-radius: 10px;
                    padding: 1em;
                    gap: 2em;
                    height: max-content;

                    .barra_superior {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                    }

                    .to_do_itens,
                    .doing_itens,
                    .done_itens {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .to_do_item,
                        .doing_item,
                        .done_item {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            background-color: #481791;
                            padding: 1em;
                            border-radius: 10px;


                            .tempo {
                                display: flex;
                                gap: 10px;
                                color: rgba(255, 255, 255, 0.645);
                            }
                        }
                    }

                    .barra_inferior {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            p {
                                text-decoration: none;
                                color: gray;
                            }
                        }

                    }

                }
            }
        }
    }

    .container_right {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 2em;

        .pomodoro {


            h3 {
                margin-bottom: .8em;
            }

            .pomodoro_container {
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: #48179194;
                border-radius: 10px;

                .pomodoro_estatisticas {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid gray;
                    padding: 1em;

                    .pomodoro_estatisticas_barra {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        img {
                            width: 1.5em;
                        }
                    }

                    .numeros {
                        display: flex;
                        width: 100%;
                        justify-content: space-evenly;
                        align-items: center;

                        .estudo,
                        .pausa {
                            display: flex;
                            flex-direction: column;
                            margin-top: .5em;
                            align-items: center;

                            p:first-child {
                                font-size: 2em;
                                font-weight: 500;
                            }

                            p:last-child {
                                color: rgba(238, 237, 237, 0.716);
                            }
                        }
                    }
                }

                .pomodoro_cronometro {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1em;
                    gap: 20px;

                    .pomodoro_cronometro_img {
                        width: 100px;
                    }

                    .pomodoro_cronometro_controles {
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .ranking {
            display: flex;
            flex-direction: column;
            background-color: rgba(82, 78, 87, 0.433);
            padding: 1em;
            border-radius: 10px;
            width: 100%;
            gap: 1em;

            .ranking_itens {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;

                .colocacao {
                    font-size: 2em;
                    width: 30px;
                    text-align: center;
                }

                .ranking_item {
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    align-items: center;

                    .ranking_item_descricao {
                        display: flex;
                        background-color: rgba(132, 23, 142, 0.653);
                        width: 100%;
                        border-radius: 5px;
                        padding: .5em;
                        justify-content: space-between;

                        .ranking_item_descricao_perfil {
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            img {
                                width: 2.5em;
                            }
                        }

                        .pontuacao {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            .pontos {
                                font-size: 1.3em;
                                font-weight: 600;
                            }

                            span {
                                font-size: .8em;
                                color: #bfa7e3e7;
                            }
                        }

                    }
                }

                .ranking_pessoal {
                    margin-top: 2em;

                    .ranking_item_descricao {
                        background-color: #a01ac2;
                    }
                }
            }

            .ranking_outro {
                display: flex;
                align-items: center;
                gap: 10px;
                color: rgba(255, 255, 255, 0.729);
                margin-top: 1em;
                transition: .5s;

                &:hover  {
                    color: #8966bd;
                    
                    img {
                        animation: moverParaDireita ease-in-out 0.3s forwards;

                    }
                    
                }

            }
        }




    }

}

.container.retracted {
    margin-left: 100px;
}



@keyframes moverParaDireita {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}