header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: gray;

    .left, .right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

}


.logo {
    width: 3em;
}

.notificacao {
    width: 2em;
}

.profile {
    width: 3em;
}